@prefixClass: ~'react-colorpicker';

@import 'index/Layout';
@import 'index/Trigger';
@import 'index/Picker';
@import 'index/Preview';
@import 'index/Board';
@import 'index/Ribbon';
@import 'index/Alpha';
@import 'index/Params';


.@{prefixClass}{
  .@{prefixClass}-picker{
    display: none;
    position: absolute;
    left: -999px;
    top: -999px;
  }
  &-open{
    .@{prefixClass}-picker{
      display: block
    }
  }
}
